<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header-bold {
            font-weight: bold;
            font-size: 1.2em; /* Définir la taille de la police en em ou en px */
        }
    </style>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>crud dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="css/custom.css">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
    <style>
        .header-bold {
            font-weight: bold;
            font-size: 1.2em; /* Définir la taille de la police en em ou en px */
        }

        /* Style pour chaque besoin */
        .besoin {
            margin-bottom: 20px; /* Espacement entre chaque besoin */
            border: 1px solid #dee2e6; /* Bordure */
            border-radius: 5px; /* Coins arrondis */
            transition: border-color 0.3s ease; /* Transition pour le changement de couleur de la bordure */
            cursor: pointer; /* Curseur au survol */
        }

        /* Style pour changer la bordure au survol */
        .besoin:hover {
            border-color: #007bff; /* Bordure bleue au survol */
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Ombre au survol */
        }

        /* Style pour l'image */
        .besoin-image {
            float: left; /* Alignement à gauche */
            margin-right: 10px; /* Espacement à droite */
        }

        /* Style pour la description du besoin */
        .besoin-description {
            overflow: hidden; /* Pour éviter que le texte déborde */
        }

        /* Style pour le titre */
        .besoin-title {
            font-weight: bold;
            margin-bottom: 5px; /* Espacement en bas */
        }

        /* Style pour les boutons Modifier et Supprimer */
        .besoin-buttons {
            text-align: right; /* Alignement à droite */
            margin-top: 10px; /* Espacement en haut */
        }

        /* Style pour les boutons à l'intérieur du besoin */
        .besoin-buttons .btn {
            margin-left: 5px; /* Espacement entre les boutons */
        }

    </style>


</head>
<body>


    <div layout:fragment="content1">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-4 p-0 d-flex justify-content-lg-start justify-content-center">
                                <h2 class="ml-lg-2">Besoins de département</h2>
                                <span>Demande N° : <span th:text="${demande.getId()}"></span></span>
                            </div>
                            <div class="col-sm-8 p-0 d-flex justify-content-lg-end justify-content-center">
                                <!--
                                <a href="#addOrdinateurBesionModal" class="btn btn-success" data-toggle="modal">
                                    <i class="material-icons">&#xE147;</i>
                                    <span>Add Ordinateur</span>
                                </a>
                                -->
                                <a th:href="@{'/formOrdinateurBesoinMateriel?id=' + ${demande.getId()}}" class="btn btn-success" >
                                    <i class="material-icons">&#xE147;</i>
                                    <span>Add Ordinateur</span>
                                </a>
                                <a th:href="@{'/formImprimanteBesoinMateriel?id=' + ${demande.getId()}}" class="btn btn-success" >
                                    <i class="material-icons">&#xE147;</i>
                                    <span>Add Imprimante</span>
                                </a>

                                <!--
                                <a href="#addImprimanteBesionModal" class="btn btn-success" data-toggle="modal">
                                    <i class="material-icons">&#xE147;</i>
                                    <span>Add Imprimante</span>
                                </a>
                                -->
                                <a  class="btn btn-secondary" data-toggle="modal">
                                    <i class="material-icons">&#xE30A;</i> <span>Ordinateur</span></a>
                                <a  class="btn btn-secondary" data-toggle="modal">
                                    <i class="material-icons">&#xE3B9;</i> <span>Imprimante</span></a>
                                <a  class="btn btn-secondary" data-toggle="modal">
                                    <i class="material-icons">&#xE2C6;</i> <span>Tous les Besoins</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <!-- Première besoin -->
                <div class="besoin row">
                    <div class="col-3">
                        <div class="besoin-image">
                            <img src="img/ordinateur.png" alt="Image du besoin" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-6 besoin-description">
                        <div class="besoin-title">Titre du besoin</div>
                        <div class="mb-2">CPU: [valeur]</div>
                        <div class="mb-2">RAM: [valeur]</div>
                        <div class="mb-2">Disque dur: [valeur]</div>
                        <div>Ecran: [valeur]</div>
                    </div>
                    <div class="col-3 besoin-buttons">
                        <button class="btn btn-primary">Modifier</button>
                        <button class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
                <!-- Deuxième besoin -->
                <div class="besoin row">
                    <div class="col-3">
                        <div class="besoin-image">
                            <img src="img/imprimante.jpg" alt="Image du besoin" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-6 besoin-description">
                        <div class="besoin-title">Titre du besoin</div>
                        <div class="mb-2">CPU: [valeur]</div>
                        <div class="mb-2">RAM: [valeur]</div>
                        <div class="mb-2">Disque dur: [valeur]</div>
                        <div>Ecran: [valeur]</div>
                    </div>
                    <div class="col-3 besoin-buttons">
                        <button class="btn btn-primary">Modifier</button>
                        <button class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>

            <!-- Modal pour ajouter un besoin materiel (Ordinateur) -->
            <div class="modal fade" id="addOrdinateurBesionModal" tabindex="-1" role="dialog" aria-labelledby="addDemandeModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addOrdinateurBesoinModalLabel1">Ajouter Besoin (Ordinateur)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addOrdinateurBesoinForm1">
                                <div class="form-group">
                                    <label for="cpu">CPU</label>
                                    <input type="text" class="form-control" id="cpu" name="cpu" required>
                                </div>
                                <div class="form-group">
                                    <label for="ram">RAM</label>
                                    <input type="number" class="form-control" id="ram" name="ram" required>
                                </div>
                                <div class="form-group">
                                    <label for="disqueDur">Disque Dur</label>
                                    <input type="number" class="form-control" id="disqueDur" name="disqueDur" required>
                                </div>
                                <div class="form-group">
                                    <label for="ecran">Ecran</label>
                                    <input type="text" class="form-control" id="ecran" name="ecran" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-success" id="addOrdinateurBesoinBtn">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal pour ajouter un besoin materiel (Ordinateur) end -->

            <!-- Modal pour ajouter un besoin materiel (Imprimante) -->
            <div class="modal fade" id="addImprimanteBesionModal" tabindex="-1" role="dialog" aria-labelledby="addDemandeModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addImprimanteBesoinModalLabel">Ajouter Besoin (Imprimante)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addImprimanteBesoinForm">
                                <div class="form-group">
                                    <label for="vitesse">Vitesse d'impression</label>
                                    <input type="number" class="form-control" id="vitesse" name="vitesse" required>
                                </div>
                                <div class="form-group">
                                    <label for="resolution">Résolution</label>
                                    <input type="text" class="form-control" id="resolution" name="resolution" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-success" id="addImprimanteBesoinBtn">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal pour ajouter un besoin materiel (Imprimante) end -->

        </div><!-- row end -->


    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#addOrdinateurBesoinBtn').click(function() {
                var cpu = $('#cpu').val();
                var ram = $('#ram').val();
                var disqueDur = $('#disqueDur').val();
                var ecran = $('#ecran').val();
                //ici il faut récupere le id de l'enseignant chef departement depuis la session
                var demandeId = 8 ;
                var enseignantId = 1;
                // Envoyer les données à votre backend pour traitement
                $.ajax({
                    type: 'POST',
                    url: '/saveOrdinateurBesoin',
                    data: {
                        cpu: cpu,
                        ram: ram,
                        disqueDur: disqueDur,
                        ecran:ecran,
                        demande:demandeId,
                        enseignant: enseignantId,
                    },
                    success: function(response) {
                        // Traitement à effectuer en cas de succès
                        console.log(response);
                        window.location.href = '/consulterBesoinDepartement2?id=8';

                    },
                    error: function(xhr, status, error) {
                        // Traitement à effectuer en cas d'erreur
                        console.log("ici erreur (feild save )");
                        console.error(error);
                    }
                });
            });
        });
        $('#addImprimanteBesoinBtn').click(function() {
            var vitesse = $('#vitesse').val();
            var resolution = $('#resolution').val();
            //var demandeId = $('#demandeId').val(); // ID de la demande associée à l'imprimante
            //var enseignantId = $('#enseignantId').val(); // ID de l'enseignant attribué à l'imprimante

            $.ajax({
                type: 'POST',
                url: '/saveImprimanteBesoin',
                contentType: 'application/json',
                data: JSON.stringify({
                    vitesseImpression: vitesse,
                    resolution: resolution,
                    marque: "VotreMarque",
                    numeroInventaire: "VotreNuméroInventaire",
                    livree: false,
                    demande: { id: 8 }, // Ajouter l'ID de la demande
                    enseignant: { id: 1 } // Ajouter l'ID de l'enseignant
                }),
                success: function(response) {
                    console.log(response);
                    // Ajoutez ici le code pour gérer la réponse, par exemple, afficher un message de succès ou rediriger l'utilisateur.
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    // Ajoutez ici le code pour gérer l'erreur, par exemple, afficher un message d'erreur à l'utilisateur.
                }
            });
        });


        $(document).ready(function() {
            // Ouvrir la modal de modification lorsque le bouton "Modifier" est cliqué
            $('.edit').click(function() {
                var demandeNumber = $(this).closest('tr').find('td:eq(0)').text();
                var demandeId = $(this).closest('tr').find('td:eq(0)').text();
                var dateDebut = $(this).closest('tr').find('td:eq(1)').text();
                var dateFin = $(this).closest('tr').find('td:eq(2)').text();
                var dateReunion = $(this).closest('tr').find('td:eq(3)').text();
                var notificationCheckbox = $(this).closest('tr').find('.notificationCheckbox').is(':checked');
                //var enseignantId = $(this).closest('tr').find('td:eq(4)').text(); // Supposons que l'ID de l'enseignant soit dans la quatrième colonne
                //var enseignantId = $(this).closest('tr').data('enseignant-id');
                var enseignantId = $(this).closest('tr').attr('enseignant-id');

                $('#demandeNumber').text(demandeNumber);
                $('#editDemandeId').val(demandeId);
                $('#editDateDebut').val(dateDebut);
                $('#editDateFin').val(dateFin);
                $('#editDateReunion').val(dateReunion);
                $('#editNotificationCheckbox').prop('checked', true);
                $('#editEnseignant').val(enseignantId);

                $('#editDemandeModal').modal('show');
            });

            // Envoyer une requête AJAX pour mettre à jour la demande lorsque le bouton "Enregistrer les modifications" est cliqué
            $('#updateDemandeBtn').click(function() {
                var demandeId = $('#editDemandeId').val();
                var dateDebut = $('#editDateDebut').val();
                var dateFin = $('#editDateFin').val();
                var dateReunion = $('#editDateReunion').val();
                var notificationCheckbox = $('#editNotificationCheckbox').is(':checked');
                var enseignantId = $('#editEnseignant').val(); // Ajoutez cette ligne pour récupérer l'ID de l'enseignant

                $.ajax({
                    type: 'POST',
                    url: '/save', // Changez l'URL en fonction de votre endpoint de mise à jour de demande
                    data: {
                        id: demandeId,
                        dateDebut: dateDebut,
                        dateFin: dateFin,
                        dateReunion: dateReunion,
                        notificationCheckbox: notificationCheckbox,
                        EnvoyerResponsable:0,
                        old:0,
                        enseignant: enseignantId // Envoyez l'ID de l'enseignant
                    },
                    success: function(response) {
                        //$('#editDemandeModal').modal('hide');
                        window.location.reload(); // Recharge la page pour afficher les mises à jour
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#confirmDeleteButton').click(function () {
                var demandeId = $(this).data('data-id');
                var page = $(this).data('data-page');

                $.ajax({
                    type: 'GET',
                    url: '/supprimer',
                    data: {
                        id: demandeId,
                        page: page
                    },
                    success: function (response) {
                        console.log(response);
                        window.location.reload(); // Recharge la page après la suppression
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });

    </script>
</body>
</html>