<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header-bold {
            font-weight: bold;
            font-size: 1.2em; /* Définir la taille de la police en em ou en px */
        }
    </style>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>crud dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!----css3---->
    <link rel="stylesheet" href="css/custom.css">


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

</head>
<body>

    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{saveImprimanteBesoin}">
            <!-- Ajouter un champ caché pour inclure l'ID -->

            <input type="hidden" name="id" th:value="${demande.id}">
            <div>
                <label>Résolution</label>
                <input type="text" name="resolution" th:value="${imprimante.resolution}">
                <!--<span class="text-danger" th:errors="${ordinateurBesoin.getRam()}"></span>-->
            </div>
            <div>
                <label>Vitesse d'impression</label>
                <input type="text" name="vitesse" th:value="${imprimante.vitesseImpression}">
                <!--<span class="text-danger" th:errors="${ordinateurBesoin.getRam()}"></span>-->
            </div>

            <button  type="submit" class="btn btn-primary">Ajouter</button>

        </form>
    </div>


</body>
</html>